* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* LOGO REACT */
.logo-contenedor {
  width: 80%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px;
}

/* Lista de tareas */
.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  border: 1px solid #bfbfc4;
  border-radius: 5px;
  box-shadow: 0 2px 8px 5px #fff;
  padding: 25px;
  margin: 10px;
  border-radius: 16px;
}
